h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
body {
  margin: 2em;
}

/* WORLD COMPONENT */

world-map svg {
  margin: 10px 8px 16px !important;
  width: 100% !important;

}

world-map .land {
  fill: #CCC !important;
  fill-opacity: 1 !important;
  stroke: #fff !important;
  stroke-opacity: 1 !important;
  stroke-width: 0.5 !important;
}

world-map .visited {
  fill: green !important;
}

world-map .visited:hover {
  fill: #844b99 !important;
}

world-map text {
  fill: #844b99 !important;
  font-size: 20px !important;
}

world-map div {
  color: green !important;
  text-align: center !important;
  padding: 0 16px 12px !important;
  width: 100% !important;
}

/* LANGUAGES COMPONENT */

my-languages .wrapper {
  padding: 24px !important;
}

my-languages .wrapper .language {
  color: green !important;
  display: inline-block !important;
  text-align: center !important;
  padding: 0 16px 12px !important;
}

my-languages .wrapper .language.xs .name {
  font-size: 12px !important;
}

my-languages .wrapper .language.xs img {
  width: 40px !important;
  max-height: 40px !important;
}

my-languages .wrapper .language.s .name {
  font-size: 18px !important;
}

my-languages .wrapper .language.s img {
  width: 80px !important;
  max-height: 80px !important;
}

my-languages .wrapper .language.m .name {
  font-size: 24px !important;
}

my-languages .wrapper .language.m img {
  width: 120px !important;
  max-height: 120px !important;
}

my-languages .wrapper .language.l .name {
  font-size: 30px !important;
}

my-languages .wrapper .language.l img {
  width: 160px !important;
  max-height: 160px !important;
}

my-languages .wrapper .language.xl .name {
  font-size: 36px !important;
}

my-languages .wrapper .language.xl img {
  width: 200px !important;
  max-height: 200px !important;
}

/* TIMELINE COMPONENT */

timeline .education {
  color: #682580 !important;
  fill: #844b99 !important;
}

timeline .info {
  padding: 16px !important;
  position: relative !important;
}

timeline .info .name {
  font-size: 18px !important;
}

timeline .info .tt {
  left: 0 !important;
  padding: 16px !important;
  position: absolute !important;
  top: -30px !important;
}

timeline .timeline {
  margin: 16px 0 0 !important;
}

timeline .timeline text {
  fill: #666 !important;
}

timeline .work {
  color: #3d8025 !important;
  fill: #60994b !important;
}

timeline .wrapper {
  min-height: 260px !important;
}

timeline .faded {
  opacity: 0.75 !important;
}

